DotNet-StudentHubAPI/Service References/HeatSVC/CourseApplication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseApplication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webapp01d-doc/wcfSAM/CourseApplication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webapp01d-doc/wcfSAM/CourseApplication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webapp01d-doc/wcfSAM/CourseApplication.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://webapp01d-doc/wcfSAM/CourseApplication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BKIWCFService" />
      <xsd:import schemaLocation="http://webapp01d-doc/wcfSAM/CourseApplication.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseApplication_CreateHEATTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHEATTicket" />
  </wsdl:message>
  <wsdl:message name="ICourseApplication_CreateHEATTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHEATTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseApplication_UpdateHEATTicketStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHEATTicketStatus" />
  </wsdl:message>
  <wsdl:message name="ICourseApplication_UpdateHEATTicketStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHEATTicketStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseApplication">
    <wsdl:operation name="CreateHEATTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseApplication/CreateHEATTicket" message="tns:ICourseApplication_CreateHEATTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseApplication/CreateHEATTicketResponse" message="tns:ICourseApplication_CreateHEATTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHEATTicketStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseApplication/UpdateHEATTicketStatus" message="tns:ICourseApplication_UpdateHEATTicketStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseApplication/UpdateHEATTicketStatusResponse" message="tns:ICourseApplication_UpdateHEATTicketStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseApplication" type="tns:ICourseApplication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateHEATTicket">
      <soap:operation soapAction="http://tempuri.org/ICourseApplication/CreateHEATTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHEATTicketStatus">
      <soap:operation soapAction="http://tempuri.org/ICourseApplication/UpdateHEATTicketStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseApplication">
    <wsdl:port name="BasicHttpBinding_ICourseApplication" binding="tns:BasicHttpBinding_ICourseApplication">
      <soap:address location="http://webapp01d-doc/wcfSAM/CourseApplication.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>